# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "run-test-suite"
  run-test-suite:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    env:
      SDL_VIDEODRIVER: dummy
      SDL_AUDIODRIVER: dummy
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python-version }}

      # Runs a set of commands using the runners shell
      - name: Install OpenAI gym Xiangqi module
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements.txt

      # Runs unit tests and coverage report. For now, set coverage to
      # fail if it's less than 25 percent. We will adjust this number higher
      # as we continue developing.
      - name: Run unit tests and coverage report
        run: |
          python -m pytest --cov=agents/ --cov=gym_xiangqi/ --cov=examples/ --cov-fail-under=25

      # Run latency test to get latency report.
      - name: Run latency test
        run: python test/latency_test.py
